


<div class="banner-most-affordable d-none">
    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/affordable-usa-banner.png?t=1623736740'}}"/>

    <div class="most-affordable-desc" data-aos="fade-right">
        <h2 > <span style="font-weight: bold;">Most Affordable</span>
            USA-Made Mattress
        </h2>
        <p >Jaw-dropping prices, same iconic experience.
            Starts at <span style="color:red;">$199</span> 
             </p>        
        <a href="/green-tea-memory-foam-bed-mattres/" class="mattress-button-aff animation-element invi bounce-in duration-1500 in-view">Shop Now</a>  
    </div>
</div>

<div class="shop-best-seller">
    <h2>Shop Our Best Sellers</h2>
    <div class="best-sgrid">
        <div class="best-sbox">
            <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/coolest-gel.png?t=1647844463&_gl=1*spemsc*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzgzODg1Ni40Ni4xLjE2NDc4NDM5MDcuNTk." alt="" class="w-100">
            <h4>COOLest Gel Memory Foam Mattress</h4>
            <p>Quisque eleifend ligula justo, et congue dui accumsan vitae. Cras aliquet convallis molestie.</p>
            <a href="https://store-z2qdisybty.mybigcommerce.com/content/nav/green-tea-mattress.png">View Item</a>
        </div>
        <div class="best-sbox">
            <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/ste455-ab-e450adjustable-lifestyle5square-wb1596825536-original.png?t=1647844464&_gl=1*spemsc*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzgzODg1Ni40Ni4xLjE2NDc4NDM5MDcuNTk." alt="" class="w-100">
            <h4>2.5" Gel Memory Foam Mattress Topper</h4>
            <p>Quisque eleifend ligula justo, et congue dui accumsan vitae. Cras aliquet convallis molestie.</p>
            <a href="https://icon-sleep.com/2-5-inch-gel-memory-foam-mattress-topper/">View Item</a>
        </div>
        <div class="best-sbox">
            <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/weekender-12-plush-straighton-wb1578345334-original-07-73055.1630646530.png?t=1647844465&_gl=1*spemsc*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzgzODg1Ni40Ni4xLjE2NDc4NDM5MDcuNTk." alt="" class="w-100">
            <h4>Weekender Hybrid Mattress</h4>
            <p>Quisque eleifend ligula justo, et congue dui accumsan vitae. Cras aliquet convallis molestie.</p>
            <a href="https://icon-sleep.com/search.php?search_query=Weekender%20Hybrid%20Mattress">View Item</a>
        </div>
    </div>
 
</div>
<div class="happy-div pb-4 pt-1 my-5">
    <h2 >Icon Sleep vs The Competition</h2>
    <p class="w-75 mx-auto mt-0">We don't claim we're better. We just offer the same value for less</p>
</div>
<div class="gif-animation-section">
    <img data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/is-comparison-01.gif?t=1635225999&_gl=1*t2aayv*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNzAyMjAyMS4zNzguMS4xNjM3MDI1MDY1LjIy'}}" class="lazyload"/>
</div>

<div class="blogPosts-more mt-5 mb-2 d-none">
    <a href="/green-tea-memory-foam-bed-mattres/" class="mb-0 d-none">Learn More</a>
</div>

<div class="flex-mattrees-section us w-96 mt-3">
    <div class="usbanner-div">
        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/usa.png?t=1647849295&_gl=1*mkoz7y*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzgzODg1Ni40Ni4xLjE2NDc4NDkyODIuNTk.'}}">
    </div>
    <div class="banner-div1">
        <div class="us-banner-description" data-aos="fade-left">
            <h3 >We Learned the Hard Way!</h3>
            <br/>
            <span >   
                Buying a overseas mattress may save a few bucks today, but those savings will not help if it needs to be replaced in a few years. We know from experience!
            </span><br><br/>
            <span> Prior to 2018 we imported from China. The quality was inferior and the cost savings were not enough. We now proudly manufacturing in the USA.</span>
        </div>
        
    </div>
</div>
<div class="for-mobile">
<div class="flex-mattrees-section w-99">
    <div class="night-sleep-div">
        <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/bed-top-view.png?t=1623734922">
        <div class="another-mattress night-div">
            <div class="another-mattress-img">
                <img class="lazyload"  data-src=" {{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/nightsleeptrial.png?t=1623227850'}} ">
            </div>
            <div class="another-mattress-description night-desc" >
                <h3 class="">100-Night Sleep Trial</h3>
                <span class="" >Why settle for a 10-minute mattress trial in-store where everyone's looking when you can try it out for 100 nights in the comfort of your own home?</span>
                <br><a href="/sleep-trial/" class="learn-button" style="color: #1fc0fb; font-family: Almarai!important; font-size: 18px;">Learn More...</a>
            </div>
        </div> 
    </div>

    <div class="certified-prod-div" style="height: auto">
        <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/certification.png?t=1637111448&_gl=1*8i00i4*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNzExMTQwNy4zODAuMS4xNjM3MTExNDUzLjE0">
        <div class="another-mattress cert-div">

            <div class="another-mattress-img">
                <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/puffy-certipur-us-certification-seal.png?t=1623227851">
            </div>
            <div class="another-mattress-description cert-prod">
                <h3 class="">Certified<br> Products</h3>
                <span class="">Our mattresses are <span style="font-weight: bold;">CertiPUR-US®</span> and STANDARD 100 <span style="font-weight: bold;"> OEKO-TEX® certified.</span></span>
            </div>
        </div> 
    </div>     
</div>

<div class="flex-mattrees-section mt-4 w-99">
    <div class="long-term-div" style="height: auto">
        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/long-term-warranty-1.png?t=1637111482&_gl=1*1qdzi30*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNzExMTQwNy4zODAuMS4xNjM3MTExNDUzLjE0'}}">
        <div class="another-mattress long-term-con">
            <div class="another-mattress-img ">
                <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/long-term-icon.png?t=1623227850&_ga=2.85427545.1588106158.1623054117-1835193253.1617777202">
            </div>
            <div class="another-mattress-description long-trm">
                <h3 class="">Long-term<br> Warranty</h3>
                <span class="">Icon Sleep products come with an honest 10-year warranty.</span>
            </div>
        </div> 
    </div>
    <div class="feature-rich-div">
        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/feature-rich-mattress.png?t=1637197795&_gl=1*4htoam*_ga*MTgzNTE5MzI1My4xNjE3Nzc3MjAy*_ga_WS2VZYPC6G*MTYzNzE5Nzc3MC4zODYuMS4xNjM3MTk3Nzk3LjMz'}}">
        <div class="another-mattress feature-matt">
            <div class="another-mattress-img ">
                <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/feature-icon.png?t=1623227849&_ga=2.147646839.1588106158.1623054117-1835193253.1617777202">
            </div>
            <div class="another-mattress-description feature-m">
                <h3 class="">Feature-rich <br>Mattress</h3>
                <span class="">Designed to efficiently provide comfort, relief, and support.</span>
            </div>
        </div> 
    </div>

</div>
</div>

<!-- Remove Start Section -->
 <section class="heroCarousel rev-carousel mt-5 d-none"
    data-slick='{
        "arrows": {{arrows}},
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": true,
        "autoplaySpeed": true,
        "slide": "[data-hero-slide]"
    }'>
 
        <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 100%; padding-top: 50px;" class="see-why-text">See Why People Think We're Iconic</h2>

        <div class="carousel-rev-con">
              
            <div class="review-left-con" >
                
                <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
            <h2 >Sleep Like A baby</h2>
            <p >I bought this mattress for my sons bed I end up the being the 
                who sleeps on it most of the time it’s so comfortable more comfortable My fancy very 
                Tempur-pedic in one word I love it my son loved it and I wish I knew about it before 
                would not have spent thousands on my other two mattresses for my California king.</p>
            <div class="review-buyer">
                <div>
                    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/author-rev-icon.png?t=1623821772'}}" >
                </div>
                <div class="verified-con">
                    <h4>Ahlem B.</h4>
                    <p><span style=" padding-right:9px;margin-top:4px;"><img data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" class="lazyload"></span> Verified Buyer</p>    
                </div>
            </div>
        </div>
        <div class="review-right-con">
            <img class="lazyload" class="animation-element fade-in delay-1000 in-view" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/kid-image.png?t=1623822611'}}" >
        </div>
    </div>
    </div>


     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 100%; padding-top: 50px;">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Verified Satisfied</h2>
                <p style="line-height: 1.3;">This was my first time ordering a bed online and was a little skeptical at first. Very comfortable mattress. I'm a combination of a side/back sleeper and this bed does well for me. No complaints. The mattress will expand once you open it slowly. It takes a good amount of time for it to fully expand. I've heard up to 48 hours to reach peak firmness so be patient. I slept on mine the same day as I set it up without problems.</p>
                <div class="review-buyer">
                    <div>
                        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/keystone.png?t=1624002329'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Keystone F.</h4>
                        <p><span><img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="lazyload animation-element fade-in delay-1000 in-view "   data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/very-satisfied.png?t=1624002332'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 100%; padding-top: 50px;" class="see-why-text">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >An amazing deal and an even better sleep</h2>
                <p style="line-height: 1.3;">I was skeptical about ordering a mattress on line. After reading the reviews by others customers, researching the mattresss and company, I pulled the trigger. I’m so happy I did! I am sleeping more comfortably and more soundly than I did on my former name brand mattress. My mother was so impressed with my comfort that she just bought one for herself! Enjoy....you’re worth it!</p>
                <div class="review-buyer">
                    <div>
                        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/amy.png?t=1624003464'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Amy K.</h4>
                        <p><span><img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="lazyload animation-element fade-in delay-1000 in-view"   data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/amy-rev.png?t=1624003740'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 100%; padding-top: 50px;" class="see-why-text">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 review-left-con in-view " >
                    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Best Bed Ever</h2>
                <p >This mattress replaced a very old, very uncomfortable pillow-top that caused me to wake up with a sore back every morning. It has been a life saver! It is the perfect amount of firmness but still feels like it is hugging me when I sleep. The price was awesome and I am very happy about this purchase. </p>
                <div class="review-buyer">
                    <div>
                        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lauren-avatar.png?t=1624003738'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Lauren H.</h4>
                        <p><span><img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="lazyload animation-element fade-in delay-1000 in-view"   data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/lauren.png?t=1624003468'}}" >
            </div>
        </div>
     </div>

     <div class="heroCarousel-slide">
        <h2 style="color: #fff; text-align: center; font-size: 26px; font-weight: 500; width: 100%; padding-top: 50px;" class="see-why-text">See Why People Think We're Iconic</h2>
            <div class="carousel-rev-con">
                    
                <div class="animation-element fade-in delay-1500 in-view review-left-con " >
                    <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/star-review-homepage.png?t=1623821771'}}" >
                <h2 >Great Bedding</h2>
                <p >Slept on it the first night we got it. No smell at all. Been sleeping on it for a few months now and its the best bed we ever had. We will never go back to a regular matress. Getting ready to replace all matresses in the house with this type.</p>
                <div class="review-buyer">
                    <div>
                        <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/gary.png?t=1624003467&_ga=2.267711374.1496872644.1623634006-1835193253.1617777202'}}" >
                    </div>
                    <div class="verified-con">
                        <h4>Gary K.</h4>
                        <p><span><img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/badge-verified.png?t=1623821773'}}" ></span> Verified Buyer</p>    
                    </div>
                </div>
            </div>
            <div class="review-right-con">
                <img class="lazyload animation-element fade-in delay-1000 in-view"   data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/gary-img.png?t=1624003465'}}" >
            </div>
        </div>
     </div>
</section>

<div class="review-banner d-none">
    <img data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/review-banner.png?t=1623290589" class="lazyload">
    <div class="review-banner-con">
        <div class="powered-div">
            <p>Powered By: <img class="lazyload" data-src="{{cdn 'https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/stamped-reviews.png?t=1623291887'}}"></p>
        </div>
        <div>
            <div class="star-badge">
                <div id="stamped-reviews-widget" style="display: inline-block;" data-widget-type="site-badge" data-badge-type="minimal" data-title="Verified Reviews" data-title-size="15" data-size-stars="12" data-element-id="1" data-lang="en">
                </div>
            </div>
        </div>
        <div class="btn-rev">
            <a href="/reviews/" class="reviewreal-button">VIEW REAL REVIEWS</a>   
        </div>
    </div>
 </div>

 <div class="homepage-adverts-section parallax every-need-section d-none">
    <div class="ads-abs">
        <div class="ads-text">
            <h1 class="fade-in">Everything you need in a good night’s sleep </h1>
            <span class="slide-in left-long" style="color: #132448;">Getting a perfect sleep has never been this easy.</span>
        </div>
        <div class="ads-content">
            <div class="slide-in from-slide-up">
                <div class="fade-in delay-1000">
                    <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/ad-icon.png?t=1623829377">
                </div>
                <div class="ads-content-text context-grn">
                    <h3 class="">Organic Reviews</h3>
                    <p class=" ">Icon Sleep doesn’t rely on incentivized reviews – we are confident that our customers will give us organic feedback.</p>
                </div>
            </div>
            <div class="slide-in from-slide-up green-context">
                <div class="fade-in delay-1000">
                    <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/paid-reviews-icon-new-.png?t=1623829378">
                </div>
                <div class="ads-content-text ">
                    <h3 class=" ">No Hidden Costs</h3>
                    <p class=" ">We help our customers save hundreds of dollars through honest pricing and not having costly advertising campaigns.</p>
                </div>
            </div>
            <div class="fancy-div slide-in from-slide-up">
                <div class="fade-in delay-1000">
                <img class="lazyload" data-src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/packaging-icon-new.png?t=1623829379"> 
                </div>
                <div class="ads-content-text">
                    <h3 class=" ">Ergonomic Packaging</h3>
                    <p class=" "> Your mattress is efficiently packed and shipped in a recyclable box for hassle-free handling and unboxing.</p>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="blog-heading d-none">
        <h2 class="fade-in">Read The <span>Slumbertales</span></h2>        
        <p>Exciting, fresh, and relevant blogs every now and then.</p>
    </div>

<div class=”blog” style="display:none;">
{{#each blog.recent_posts}}
    <div class="blogPost fade-in from-bounce-in duration-1000">
    {{#if thumbnail}}

        <figure>
            <a href="{{url}}">
                <img class="lazyload" data-src="{{getImage thumbnail 'blog_size'}}" alt="{{thumbnail.alt}}" title="{{thumbnail.alt}}">
            </a>
        </figure>
    {{/if}}
<section class="homepage-blog d-none">
    <p class="card-text blogPost-publishedDate">{{date_published}}</p>
    <h5><a href="{{url}}">{{title}}</a></h5>
<!--<p>{{summary}}</p>    -->
</section> 

</div>
{{/each}}


</div>
<div class="blogPosts-more d-none">
        <a href="/blog/">View All Blogs</a>
    </div>
</div>
<!-- End of Remove section -->

<div class="fetures-gridcon">
    <div>
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/icon-awesome-shipping.png?t=1647918321&_gl=1*bi4oh3*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA." alt="">
        <h4>Free Shipping & Returns</h4>
        <p>Fusce ut justo id lorem pellentesque
            rutrum eget at eros. Vivamus blandit,
            risus ut sodales gravida, enim lorem
            semper nulla.</p>
    </div>
    <div>
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/quick-easy-step.png?t=1647918320&_gl=1*bi4oh3*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA." alt="">
        <h4>Quick & Easy Setup</h4>
        <p>The mattress can be used within
            a few minutes upon opening the
            package. Setup is just a few
            easy steps.</p>
    </div>
    <div>
        <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/year-warranty-awesome.png?t=1647918320&_gl=1*bi4oh3*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA." alt="">
        <h4>10 Year Warranty</h4>
        <p> Icon Sleep's 10-Year Limited Warranty
            gives you specific legal rights, and
            you may have other rights
            that may vary from state to state.</p>
    </div>
</div>
<div class="custom-stcontainer mb-4">
    <h4>See what others thinks about ICON SLEEP</h4>
   <div id="stamped-reviews-widget" data-widget-type="carousel" data-per-slide="4" data-show-avatar="false"></div> 
</div>

<div class="indoubt-section">
    <div>
        <h4 class="my-0">Still in doubt?<br>Put us to the test.</h4>
        <p>Jaw-dropping prices, same <br>iconic experience.</p>
        <a href="">Shop Mattresses</a>
    </div>
    <div><img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/still-in-doubt-bg.png?t=1647919767&_gl=1*14fa7sd*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkxNjg2Ni41MC4xLjE2NDc5MTg0ODQuNjA." alt="" class="w-100"></div>
</div>

<div class="test-mattresses-section d-none">
    <div class="test-mattresses-title">
        <h2 class="footer-mattress-title fade-in in-view">Still in doubt? <br>Put us to the test.</h2>
        <a href="https://icon-sleep.com/usa-made-8-10-12-cooling-gel-memory-foam-mattress-twin-full-queen-king/" class="mattress-button fade-in from-bounce-in duration-1500 in-view">Shop Mattresses</a>         
    </div>
</div>

<div class="have-questionsec">
    <h2>Have questions?</h2>
    <p class="quotes">Here are some frequently asked questions.</p>

    <div class="question-grid">
        <div class="grid-con">
            <div class="title-flex">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU." alt="">
                <h4>What's the best mattress size for me?</h4>
            </div>
            <p>Choosing the right mattress size depends on several factors. Are you sharing your bed with a partner or pets? Do you like having plenty of living space in your bedroom? How do you want your bed to be placed?</p>
            <a href="https://icon-sleep.com/reviews/">Read More</a>
        </div>
        <div class="grid-con">
            <div class="title-flex">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU." alt="">
                <h4>What type of foundation should I use for my mattress?</h4>
            </div>
            <p>Our mattresses can work with almost all standard foundations. The harder and sturdier the base, the better the mattress will perform, as with all foam beds. Platform bases offer the most support, but steel or wooden...</p>
            <a href="https://icon-sleep.com/reviews/">Read More</a>
        </div>
        <div class="grid-con">
            <div class="title-flex">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU." alt="">
                <h4>How long should I wait before I can use my mattress?</h4>
            </div>
            <p>You may start using it right out of the box! Take note, however, that it would take 48 hours up to a week for your mattress to fully decompress. Sleeping on your mattress can help with the decompression.</p>
            <a href="https://icon-sleep.com/reviews/">Read More</a>
        </div>
        <div class="grid-con">
            <div class="title-flex">
                <img src="https://cdn11.bigcommerce.com/s-z2qdisybty/product_images/uploaded_images/question-mark-icon.png?t=1647925466&_gl=1*8pzu4b*_ga*Nzk0NzIwMzUxLjE2NDY2MzgxMzc.*_ga_WS2VZYPC6G*MTY0NzkyNTA4Mi41MS4xLjE2NDc5MjU0NTUuNTU." alt="">
                <h4>Have other questions?</h4>
            </div>
            <p>Feel free to contact us via<br>
                Toll-free number: +123 456 7890<br>
                Email us at: support@icon-sleep.com<br>
                Or fill in the contact form below.<br><br>
                Service Hours:<br>
                Mon-Fri: 8am-5pm</p>
        </div>
    </div>
</div>

<div class="get-in-bg">
    <div class="get-intouch">
        <div>
            <h2>Get in Touch</h2>
            <p>Curabitur sapien dui, rutrum id sem et, mollis varius dolor. Suspendisse ac aliquam orci. Proin diam risus, ornare id pellentesque sit amet,</p>
        </div>
        <div>
            <form data-contact-form class="form" action="/pages.php?action=sendContactForm" method="post">
                <div class="form-row form-row--half">
                    <div class="form-field">
                        <label for="fname">Name</label>
                        <input type="text" id="fname" name="fname" placeholder="Name">
                        <label for="email">Email </label>
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <label for="msg">Message</label>
                        <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Your Inquiry" style="height: 80px;"></textarea><br<br>
                        <div class="form-actions">
                            <input class="button button--primary" type="submit" value="Send Message">
                        </div>
                    </div>
                </div>
              </form>
        </div>
    </div>
</div>






<style>
    html, body {
    font-family: 'Open Sans', sans-serif !important;
    }
    figure {
        margin: 8px;
    }
    p.card-text.blogPost-publishedDate {
        text-align: left;
        color: #888;
    }
    @media only screen and (max-width: 1350px){
        .another-mattress-description.feature-m {
            margin-left: 1em;
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
        }
        .another-mattress.feature-matt .another-mattress-img {
            margin-left: 2%;
        }
    }

    @media only screen and (max-width: 1080px){
        .another-mattress-description.feature-m {
            margin-left: 1em;
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
            max-width: 60%;
        }
    }
    @media only screen and (max-width: 1000px){
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            top: 10%;
        }

    }
    @media only screen and (max-width: 800px){

    }
    @media only screen and (max-width: 768px){
        .another-mattress-description.night-desc {
            width: 45%;
            margin-left: 5em;
        }
        .ads-content-text p {
            font-size: 18px;
            margin-top: 8px;
            color: #132448;
        }
        .blog-heading > h2 {
            color: #132448;
            font-weight: 900;
            text-align: center;
            margin-top: 4%;
        }
        .blog-heading > h2 > span {
            color: #132448;
        }
        .blog-heading {
            max-width: 85%;
            margin: 0 auto;
        }
        .”blog” img {
            width: 100%;
            margin: 0 auto;
        }
    }

    @media only screen and (max-width: 678px){
        .heroCarousel-content{
            position: relative;
            transform: unset;
            text-align: center;
            margin-top: 2.5rem;
        }
    }
    @media only screen and (max-width: 568px){
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            /* top: 35%; */
            max-width: 59%;
        }
        .another-mattress-description.night-desc {
            width: 45%;
            margin-left: 4em !important;
        }
        .review-left-con {
            text-align: center;
        }
        .review-left-con img {
            width: auto;
            text-align: center;
            margin: 0 auto;
        }
        .review-buyer{
            display: flex;
            justify-content: center;
        }
        .ads-content-text p {
            font-size: 16px;
            margin-top: 8px;
            color: #132448;
            font-weight: 600;
        }
        .ads-content > div > div > h3 {
            margin-bottom: 0;
            color: #132448;
            font-weight: 600;
            margin-top: 0;
            font-size: 18px;
        }
        .test-mattresses-title {
            text-align: center;
            padding-top: 1%;
            padding-bottom: 5%;
            padding-left: 0;
        }
        .another-mattress.feature-matt .another-mattress-img {
            margin-left: 10%;
        }
        .another-mattress-description.feature-m {
            margin-left: 2em;
        }
        .most-affordable-desc h2 {
            width: 50%;
            line-height: 1.3;
            color: #174567;
            font-weight: 500;
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 0;
        }   
        .most-affordable-desc p {
            margin-bottom: 6%;
            margin-top: 5px;
            font-size: 10px;
        }    
        .button--primary {
            border-color: #fff;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            background: #132448;
            padding: 15px 60px 15px 60px;
            font-weight: 700;
            border-radius: 5px;
        }
        .heroCarousel-content {
            width: 95% !important;
            text-align: center;
            margin-top: 2.5rem;
        }
        .heroCarousel-title {
            font-size: 36px;
            font-weight: 600;
            text-transform: inherit;
            font-family: 'Open Sans' !important;
            color: #132448;
            text-transform: capitalize;
            line-height: 1;
        }
    }
    @media only screen and (max-width: 500px){
        .heroCarousel-content {
            width: 100% !important;
            text-align: center;
            margin: 2.5rem auto;
            padding: 8px;
        }
        .heroCarousel-action {
            text-transform: capitalize !important;
            font-family: 'Open Sans';
        }
        .flex-mattrees-section > div.banner-div1 {
            background-position: left;
        }
        .banner-most-affordable > img {
            display: none;
        }
        .most-affordable-desc h2 {
            width: 70%;
            line-height: 1.3;
            color: #174567;
            font-weight: 500;
            font-size: 28px;
            text-transform: capitalize;
            margin: 0 auto;
        }
        .most-affordable-desc {
            position: absolute;
            top: 5%;
            left: 0%;
            line-height: 1;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        .us-banner-description {
            line-height: 1.3;
            width: auto;
            margin-top: 3%;

        }
        .night-sleep-div > img {
            object-position: left;
        }
        .review-banner > img {
            width: 100%;
            position: relative;
            height: 14em;
            border-radius: 15px;
        }
        .another-mattress.feature-matt {
            text-align: left;
            position: absolute;
            top: 35%;
            max-width: 85%;
        }
        .another-mattress.feature-matt .another-mattress-img {
            margin-left: 8%;
        }
        .another-mattress-description.feature-m {
            margin-left: 1.5em;
            color: #fff;
            font-family: Almarai !important;
            font-size: 18px;
            max-width: 100%;
        }
        .feature-rich-div > img {
            width: 100%;
            position: relative;
            height: 100%;
            object-position: left;
            object-fit: cover;
        }
        .another-mattress-description.long-trm {
            max-width: 85%;
        }
        .another-mattress.cert-div {
            text-align: left;
            position: absolute;
            top: 33%;
        }
        .another-mattress-description.night-desc {
            max-width: 80% !important;
            width: 80%;
            margin-left: 3em !important;
            line-height: 1.3;
        }
        .another-mattress.night-div {
            top: 25%;
        }
        .powered-div > p {
            margin-top: 0;
            display: grid;
            place-items: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        
        }
        a.reviewreal-button {
            background-color: white;
            color: #132448;
            text-transform: none;
            text-decoration: none;
            padding: 15px 35px;
            border-radius: 5px;
            font-weight: 700;
        }
        .review-banner > img {
            width: 100%;
            position: relative;
            height: 16em;
            border-radius: 15px;
        }
        .ads-text {
            text-align: center;
            color: white;
            max-width: 85%;
            margin: 0 auto;
            margin-top: 4em;
        }
        .ads-text h1 {
            font-size: 20px;
        }
        .test-mattresses-title {
            text-align: left;
            padding-top: 1%;
            padding-bottom: 10%;
            padding-left: 13%;
        }
        .blogPosts-more {
            margin-top: 0;
        }
        .”blog” {
            margin-bottom: 0;
        }
        .most-affordable-desc p {
            margin-bottom: 5%;
            margin-left: 6%;
            margin-right: 3%;
            font-size: 16px;
        }
        a.mattress-button-aff {
        top: 5px;
        position: relative;
    }
    .another-mattress-description {
        line-height: 1.3;
        font-size: 16px !important;
    }

}

@media only screen and (max-width: 375px) {
    .heroCarousel-title {
        text-transform: capitalize !important;
        font-family: Almarai !important;
        color: #132448;
        text-transform: uppercase;
        width: 100% !important;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .another-mattress.cert-div{
        top: 20%;
    }
    .most-affordable-desc h2 {
        width: 80%;
    }
    .button--primary {
        border-color: #fff;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background: #132448;
        padding: 15px 40px 15px 40px;
        font-weight: 700;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 312px) {
    .most-affordable-desc h2 {
        width: 90%;
    }
    .heroCarousel-title {
        font-size: 28px;
    }

}
</style>
